<template name="applicationlayout">
    <head>
    <title>chatroom</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container blue">
                    <div class="brand-logo center"><i class="material-icons left">person_pin</i><h1>Chat Room</h1></div>
                    <ul class="right">
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> people}}
        </main>
    </body>
</template>
<template name="chat">
    {{#if currentUser}}
    <ul>
    {{#each posts}}
        <li>{{username}}: {{message}}</li>
    {{/each}}
    </ul>
    <form class="message-form">
        <input class="left" type="text" name="message"><input type="submit">
    </form>
    {{else}}
    <h4 class="center">log in to chat</h4>
    {{/if}}
</template>
<template name="people">
    <div class="row">
                <div class="col s4">
                    <div class="row">            
                        <div class="card-panel col s12">
                            <h4>Random people</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-panel col s12">
                            <h4>Friends</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-panel col s12">
                            <h4>Group chats</h4>
                        </div>
                    </div>
                </div>
                <div class="col s8">
                    {{> chat}}
                </div>
            </div>
</template>